@import "../utils/variables";
.btn{
    box-shadow: none!important;
}
.toggleActive{
    transform: rotate(90deg);
    transition: transform .15s ease;
}
.toggleDeactive{
    transform: rotate(0deg);
    transition: transform .15s ease;
}
.active{
    font-weight: 500!important;
 }
.navbar-toggler,.dropdown-toggle{
    font-size: 1.8rem;
    border: none!important;
    box-shadow: none!important;
}
.fas-gold{
    color: $color-secondary;
}
.button-lg{
    font-size: 1.2rem;
    padding: 1.5% 10%;
}
.button-danger{
    background-color: $bcg-danger;
    color:$color-white;
    transition: background-color .15s ease;
    &:hover{
        background-color: lighten($bcg-danger,5);
        color:$color-white;
    }
}
.btn-link{
    color:inherit!important;
    padding: 0!important;
}
.color-red{
    color:$color-primary!important;
}
.color-danger{
    color:lighten($color-danger,27)!important;
    opacity: .8;
}
span.new-badge {
    background-color:$bcg-secondary;
    color:$color-white;
    display: block;
    position: absolute;
    width: auto;
    left: auto;
    right: 0;
    font-size: 10px;
    padding: 5px;
  }


.block-disabled,.block-disabled-o{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    user-select: none!important;
}
.block-disabled-o{
    &:hover{
        background-color: inherit;
        &::after{
            content: "Disabled";
            color:grey;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}
.disabled{
    position: relative!important;
    opacity: .5!important;
}
.disabled-o{
    opacity: .5!important;
    &:hover{
        color: transparent!important;
    }
}

i{
  position: relative;
   .badge{ 
      position: absolute!important; 
      top: 0px; 
      left: 16px;
      font-size: 10px; 
      border-radius: 50%; 
      background-color:$bcg-secondary; 
      padding: 5px; 
      display: block!important;
    } 
  }
