@import "../utils/variables";

header {
  #notitication,
  #headerProfile {
    .dropdown .dropdown-menu {
      position: absolute;
      top: 60px;
      right: 10px;
      left: auto;

      .dropdown-item {
        &:focus {
          background-color: lightgray;
        }
     }
  }
}
  #notitication {
    .dropdown-menu {
      width: 350px;
      height: auto;

      .dropdown-item {
        .card {
          padding: 10px;
          transition: all .15s ease;
          &:hover {
            background-color: $bcg-dark;
            color: $color-white;
          }
          img{
            width: 80px;
            height: 100%;
            max-width: 100%;
            object-fit: cover; /* Do not scale the image */
            object-position: center; /* Center the image within the element */
           }
          .card-footer {
            margin-top: .5rem;
          }
        }
      }
    }
  }

  #headerProfile {
    .dropdown-menu {
      .dropdown-item {
        font-weight: 500;
      }
    }
  }
}