#error-404,
#error-500,
#min-screen {
  background-color: #03071E;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}