@import "../utils/variables";

#error-404,
#error-500
{
  background-color: $bcg-dark;
  color: $color-white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}