$color-primary:#D00000;
$bcg-primary:#D00000;

$color-secondary:#F48C06;
$bcg-secondary:#F48C06;

$color-dark:#03071E;
$bcg-dark:#03071E;

$color-light:#10173D;
$bcg-light:#10173D;

$color-white:#fff;
$bcg-white:#fff;

$color-danger:#9d0208;
$bcg-danger: #9d0208;