main #homeCarousel {
  background-color: black;
  margin-bottom: 20px;
}
main #homeCarousel .embed-responsive {
  position: relative;
  transition: opacity 0.3s ease;
  background: linear-gradient(to top, #03071E, transparent 50%);
}
main #homeCarousel .embed-responsive:hover .bcg-video {
  opacity: 0.2;
  cursor: pointer;
}
main #homeCarousel .embed-responsive:hover .content-video {
  opacity: 1;
}
main #homeCarousel .embed-responsive .bcg-video {
  width: 100%;
  height: auto;
}
main #homeCarousel .embed-responsive .content-video {
  position: absolute;
  bottom: 20%;
  left: 5%;
  opacity: 0;
  transition: opacity 0.3s ease;
}