@import "../utils/variables";
main {
  #homeCarousel {
    // .carousel-inner{
    //     .carousel-item{
    //         background-color: black;
    //         img{
    //             filter: opacity(0.3);
    //         }
    //     }
    // }
     background-color: black;
     margin-bottom: 20px;
    .embed-responsive{
      position: relative;
      transition: opacity .3s ease;
      background: linear-gradient(to top,$bcg-dark,transparent 50%);
      &:hover{
        .bcg-video{
          opacity: .2;
          cursor: pointer;
        }
        .content-video{
          opacity: 1;
        }
      }
       .bcg-video{
        width:100%;
        height:auto;
       }
       .content-video{
        position: absolute;
        bottom: 20%;
        left: 5%;
        opacity: 0;
        transition: opacity .3s ease;
      }
    }
  }
}

